body{
    background-color: #3d81d4a4;
}

header{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    padding: 8px;
}

input#btn{
    height: 30px;
    width: 90px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}

